body {
  background-color: aliceblue;
  font-family: 'Muli', sans-serif;
}

h1 {
  font-size: 55px;
  color: grey;
}
.main-container {
  display: flex;
  width: 100%;
  height: 900px;
}

.home-title {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.sign {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  width: 30%;
}
