<html>
<head>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
</head>
<body>
<div class="main-container">
  <%= yield %>
</div>
<script type="text/javascript" src="javascript/scripts.js">
</script>
</body>
</html>
