

<h2>Please Sign In:</h2>


<form class="login" action="/signin" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input type="submit">
</form>
