<div class="signup-page">
  <h2>Create Your New Account Here:</h2>
<form class="login" action="/signup" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="text" name="password" placeholder="password">
  <input class="new-a-button" type="submit" value="Create Account">
</form>
</div>
